-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{:class => highlight('title')}
        %a#title_header=sortable "title"
      %th{:class => highlight('rating')}
        %a#rating_header=sortable "rating"
      %th{:class => highlight('release_date')}
        %a#release_date_header=sortable "release_date"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
